/*base*/
:root {
    --mainColor: #eaeaea;
    --secondaryColor: #fff;
    --borderColor: #c1c1c1;
    --mainText: black;
    --secondaryText: #17a2b8;
    --themeDotColor: #24292e;
    --previewBg: rgba(251, 249, 243, 0.8);
    --previewShadow: #f0ead6;
    --btnColor: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    text-rendering: optimizeLegibility;
    font-size: 1.4rem;
    line-height: 1.6rem;
}

/*typography*/
h1, h2, h3, h4, h5, h6, strong {
    font-family: 'Russo One', sans-serif;
    color: var(--mainText);
    font-weight: 500;
    margin: 1.6rem 0;
}

a, p, li, span, label, input, textarea {
    font-family: 'Roboto Mono', monospace;
    color: var(--secondaryText);
    margin: 1.6rem 0;
    line-height: 2.2rem;
}

h1 {
    font-size: 5.6rem;
    line-height: 6rem;
}

h2 {
    font-size: 3.6rem;
    line-height: 4rem;
}

h3 {
    font-size: 2.8rem;
    line-height: 3rem;
}

h4 {
    font-size: 2.4rem;
    line-height: 2.8rem;
}

h5 {
    font-size: 2rem;
    line-height: 2.6rem;
}

h6 {
    font-size: 1.6rem;
    line-height: 2rem;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}



/*reusable*/
.container {
    max-width: 120rem;
    width: 100%;
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    display: block;
    font-size: 1.4rem;
    line-height: 1.2rem;
    color: #212529;
    background-color: var(--secondaryColor);
    border: .1rem solid var(--borderColor);
    padding: 1rem;
    border-radius: .3rem;
    width: 100%;
}

.form-control:focus {
    outline: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0 .7rem 2.9rem 0;
}

/*section*/
section {
    border-bottom: .1rem solid var(--borderColor);
    overflow: auto;
}

/*features-section*/
.features-section {
    background-color: var(--mainColor);
}

.greeting-wrapper {
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 4rem;
}

.intro-wrapper {
    background-color: var(--secondaryColor);
    border: .1rem solid var(--borderColor);
    box-shadow: rgba(99, 99, 99, 0.2) 0 .2rem .8rem 0;
    border-radius: .5rem .5rem 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4rem 49rem;
    grid-template-areas: 'nav-wrapper nav-wrapper' 'left-column right-column';
}

.nav-wrapper {
    grid-area: nav-wrapper;
    border-bottom: .1rem solid var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor);
    border-radius: .5rem .5rem 0 0;
}

.dots-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: 1rem;
}

.browser-dot {
    background-color: black;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0 .7rem 2.9rem 0;
}

.browser-dot:hover {
    cursor: pointer;
}

#dot-1 {
    background-color: #fc6058;
}

#dot-2 {
    background-color: #fec02f;
}

#dot-3 {
    background-color: #2aca3e;
}

#navigation {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

#navigation li a {
    padding: 1rem;
    color: var(--secondaryText);
}

.left-column {
    grid-area: left-column;
    padding: 5rem 0;
}

#profile-pic {
    display: block;
    margin: 0 auto;
    max-height: 20rem;
    height: 100%;
    max-width: 20rem;
    width: 100%;
    object-fit: cover;
    border: .3rem solid var(--borderColor);
    margin-bottom: 2rem;
}

#theme-options-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.theme-dot {
    background-color: black;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0 .3rem .8rem;
    border: .2rem solid var(--secondaryColor);
    transition: .3s all ease;
}

.theme-dot:hover {
    cursor: pointer;
    border-color: var(--themeDotColor);
}

#light-mode {
    background-color: var(--secondaryColor);
}

#blue-mode {
    background-color: #192734;
}

#green-mode {
    background-color: #78866b;
}

#purple-mode {
    background-color: #7e4c74;
}

#setting-note {
    font-size: 1.2rem;
    font-style: italic;
    text-align: center;
}

.right-column {
    grid-area: right-column;
    display: grid;
    align-content: center;
    padding: 5rem 0;
}

#preview-shadow {
    background-color: var(--previewShadow);
    width: 30rem;
    height: 18rem;
    padding-left: 3rem;
    padding-top: 3rem;
}

#preview {
    width: 30rem;
    border: .15rem solid #17a2b8;
    background-color: var(--previewBg);
    padding: 1.5rem;
    position: relative;
}

.corner {
    width: .7rem;
    height: .7rem;
    border: .15rem solid #17a2b8;
    background-color: var(--secondaryColor);
    border-radius: 50%;
    position: absolute;
}

#corner-tl {
    top: -0.5rem;
    left: -0.5rem;
}

#corner-tr {
    top: -0.5rem;
    right: -0.5rem;
}

#corner-bl {
    bottom: -0.5rem;
    left: -0.5rem;
}

#corner-br {
    bottom: -0.5rem;
    right: -0.5rem;
}



/*about-section*/
.about-section {
    background-color: var(--secondaryColor);
    padding: 5rem 0;
}

.about-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap: 10rem;
}

.download-btn {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 500;
    color: var(--secondaryColor);
    background-color: var(--themeDotColor);
    margin-top: 1rem;
    display: inline-block;
    padding: .6rem;
    border-radius: .4rem;
}

.skills {
    background-color: var(--previewShadow);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem 0;
}

.skills ul li {
    margin: 1rem 0;
}

.social-links {
    display: grid;
    align-content: center;
    text-align: center;
}

#village-img {
    display: block;
    margin: 0 auto;
    width: 100%;
    object-fit: cover;
    border: .3rem solid var(--borderColor);
}

/*portfolio-section*/
.portfolio-section {
    background-color: var(--mainColor);
    padding: 5rem 0;
}
.section-title {
    text-align: center;
    margin: 0;
}
.projects-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 32rem);
    gap: 2rem;
    justify-content: center;
    padding-top: 5rem;
}

.project-wrapper {
    border: .1rem solid var(--borderColor);
    box-shadow: rgba(0, 0, 0, 0.24) 0 .3rem .8rem;
    background-color: var(--secondaryColor);
}
.thumbnail {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 23rem;
    /*object-fit: cover;*/
}

.project-info {
    padding: 1.6rem;
}

.project-title {
    color: var(--mainText);
    margin-top: 0;
}

.project-intro {
    color: #4b5156;
    font-size: 1.4rem;
}

/*contact-section*/
.contact-section {
    background-color: var(--secondaryColor);
    padding: 5rem 0;
}

.contact-form {
    max-width: 65rem;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 4rem;
    background-color: var(--mainColor);
    border-radius: .4rem;
}

.contact-wrapper .section-title {
    margin-bottom: 5rem;
}

.btn {
    width: 100%;
    color: #fff;
    background-color: var(--btnColor);
    border: none;
    padding: 1rem 0;
    border-radius: .4rem;
}




/* responsive */
@media only screen and (max-width: 800px) {
    .intro-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas: 'nav-wrapper' 'left-column' 'right-column';
    }

    .right-column {
        justify-content: center;
    }
}